# Copia este archivo como .env y rellena los valores
# Genera una clave segura con: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=7c843b17c9ea47bdf2f90a2a8d16781223bc7d0e1bdf2a0efc6841e2f9d519a4
