# Copia este archivo como .env y rellena los valores
# Genera una clave segura con: python -c "import secrets; print(secrets.token_hex(32))" o pon una manual (Que sea segura)
SECRET_KEY=pon_aqui_tu_clave_secreta

# OpenWeather API Key (Obtenla en https://openweathermap.org/api)
OPENWEATHER_API_KEY=tu_token_aqui
